<h1>Welcome <%= name %></h1>
<form action="/fitbit/auth" method="GET">
	<button type="submit">Authenticate Fitbit</button>
</form>
<form action="/logout?_method=DELETE" method="POST">
	<button type="submit">Log Out</button>
</form>
